<div class="relative flex items-center justify-center h-auto">
  <div class="max-w-3xl w-full p-8 bg-gray-100 dark:bg-gray-700 dark:text-white shadow-xl h-full">
    <div class="flex">
      <div>
        <h1 class="text-gray-800 dark:text-white line-height-home-title text-6xl mt-5 mb-2 font-medium">Welcome</h1>
        <button routerLink="/flights"
          class="py-3 px-4 mt-3 border shadow-sm text-lg font-normal rounded-md text-white bg-picton-blue dark:bg-gray-700">Check
          Flights</button>
        <button routerLink="/bookings"
          class="py-3 px-4 mt-3 border shadow-sm text-lg font-normal rounded-md text-white bg-picton-blue dark:bg-gray-700">Check
          Bookings</button>
      </div>
    </div>
  </div>
</div>